<div style="text-align: center; background-color:#2d2d2d; height: 200px;" id="one">
 
  <h1 style="color: #ececec; font-size: 50px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Sarvesh Badhwar</h1></div>
<div style="background-color: #2d2d2d;" >
  <div style="width: 50%; margin: auto;" id="two" >
  <mat-grid-list cols="16" rows="70px" [gutterSize] ="'10px'">

    <mat-grid-tile colspan="8" rowspan="4" style="background-color: #a3f7bf;" >
    <h1 style="font-size: 50px; color: #29a19c; font-family: Candara;">About</h1>
    
    </mat-grid-tile>
    <mat-grid-tile colspan="8" rowspan="4" style="background-color: #f6c90e;" >    <h1 style="font-size: 50px; color: #eeeeee; font-family: Candara;">Experience</h1>
    </mat-grid-tile>
    <mat-grid-tile colspan="8" rowspan="4" style="background-color: #5fb9b0;" >    <h1 style="font-size: 25px; color: #bef992; font-family: Candara;">Awards & Accomplishments</h1>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="2" style="background-color: #0a91ab;"  >
     <a href="https://www.linkedin.com/in/sarveshb53/"><i class="fa fa-linkedin-square" style="font-size:48px;color:#ffc045"></i></a> 
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="2" style="background-color: #fd7014;" >
      <a href="https://www.github.com/badhwars">  <i class="fa fa-github" style="font-size:48px; color: #eeeeee;"></i></a></mat-grid-tile>
    
    <mat-grid-tile colspan="4" rowspan="2" style="background-color: #00adb5;" >
     <a href="https://drive.google.com/file/d/1RyydYDQIeK0vUAzbBek31gC8cLIHVs6e/view?usp=sharing"> <i class="fa fa-file-pdf-o" style="font-size:48px; color: white;"></i> </a> </mat-grid-tile>
     <mat-grid-tile colspan="4" rowspan="2" style="background-color: #ff004d;" >
    <a href="https://www.instagram.com/sarvesh.badhwar"> <i class="fa fa-instagram" style="font-size:48px;color:#411e8f"></i> </a> 
    </mat-grid-tile>

    <!-- <mat-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">
        
        <a href="{{tile.link}}" target="__blank"> <h4> {{tile.text}}</h4> </a>
    </mat-grid-tile> -->
  </mat-grid-list>
</div>
</div>